

<span id="logo" class="logo"></span>


<ul id="header-navigation">

    <li id="scrum-page-button" class="pointer noselect">Scrum</li>
    <li id="blockers-page-button" class="pointer noselect">Blockers</li>

</ul>


<ul id="header-profile-wrapper">

    <span id="profile-avatar" class="pointer noselect"></span>

    <span id="profile-dropdown-button" class="pointer noselect"></span>
    
</ul>


<div id="header-authentication-fragment" class="button-group">

    <span class="" id="header-auth-message">Don't have an account?</span>

    <button id="header-auth-button" class="primary-button">Sign Up</button>

</div>