
@import "mixins";
@import "color-variables";


/** ==================================== Header ==================================== */

#header-view-container {

    background: $tertiary-color;
    height: 70px;
    padding-left: 30px;
    padding-right: 37px;
    position: relative;
    z-index: 1000;

    #logo {
        display: inline-block;
        width: 120px;
        height: 30px;
        margin-top: 16px;
        position: relative;
    }

    .button-group {
        position: absolute;
        right: 37px;
        @include center( "vertical" );
        height: 50px;
    }

    #header-button {
        width: 152px;
        margin-left: 30px;
    }


    @media screen and ( max-width: 560px ) {

        padding-left: 15px;
        padding-right: 15px;

        .button-group { right: 15px; }

        #auth-message { display: none; }

    }

}

