
@import "mixins";
@import "color-variables";


/** ==================================== Header ==================================== */

#header-view-container {

    background: $tertiary-color;
    height: 80px;
    padding-left: 30px;
    padding-right: 37px;
    position: relative;

    #logo {
        display: inline-block;
        width: 120px;
        height: 30px;
        margin-top: 18px;
        background: url( "../img/icons/scrumbs-logo-colored.svg" ) no-repeat center / contain;
        position: relative;
    }

    .button-group {
        position: absolute;
        right: 37px;
        @include center( "vertical" );
        height: 50px;
    }

    #header-button {
        width: 165px;
        margin-left: 35px;
    }

}

