* {
    box-sizing: border-box;
  }
  
  
  /**
   * Reset browser margins and padding
   */
  
  html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote,
  address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
  }
  
  
  
  /**
   * Correct `block` display not defined in IE 8/9.
   */
  
  article, aside, details, figcaption, figure, footer,
  header, hgroup, main, nav, section, summary {
    display: block;
  }


  a {
      text-decoration: none;
  }


  input {
      outline: none;
  }


/** Buttons */

.primary-button {
    display: inline-block;
    border-radius: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.97em;
    height: 50px;
    line-height: 51px;
    background: linear-gradient( 90deg, #6CB7FF 0%, #7985FF 100% );
    box-shadow: 0 15px 8px -9px rgba( 118, 147, 255, 0.45 );
    transition: all 0.1s ease-out;
}


.primary-button:hover {
    transform: scale( 1.02 );
    box-shadow: 0 18px 10px -14px rgba( 118, 147, 255, 0.45 );
}

.primary-button:active {
    transform: scale( 1 );
    box-shadow: 0 1px 1px 0 rgba( 118, 147, 255, 0.45 );
}


/** Inputs */

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group .input-label {
    display: block;
    margin-bottom: 5px;
}

.input-group .input-container {
    height: 50px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1px #E1E0E9;
    border-radius: 5px;
    margin-bottom: 4px;
    position: relative;
}

.input-group .input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    padding: 0 20px 0 40px;
    background-color: transparent;
}


.input-container.input-type-password .input {
    padding-right: 40px;
}

.input-container.input-type-password::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
    background: black;

}

.input-group .input:focus {
    box-shadow: inset 0 0 0 1px black;
}

.input-group .input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY( -50% );
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.input-group .input-error {
    font-size: 0.85em;
    color: #D00262;
}





/** Body - Main container - */

html, body {
    height: 100%;
    overflow: hidden;
    font-size: 14px;
}


body {
    font-family: Muli;
    position: relative;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7fa+0,fffcfc+100 */
    background: rgb(247,247,250); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(247,247,250,1) 0%, rgba(255,252,252,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(247,247,250,1) 0%,rgba(255,252,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(247,247,250,1) 0%,rgba(255,252,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7fa', endColorstr='#fffcfc',GradientType=0 ); /* IE6-9 */

    /** SCSS */
    /** // Needs latest Compass, add '@import "compass"' to your scss
    // Permalink - use to edit and share this gradient:
    // http://colorzilla.com/gradient-editor/#f7f7fa+0,fffcfc+100
    background-color: rgb(247,247,250); // Old browsers
    @include filter-gradient(#f7f7fa, #fffcfc, vertical); // IE6-9
    @include background-image(linear-gradient(top, rgba(247,247,250,1) 0%,rgba(255,252,252,1) 100%)); */
}


body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/icons/bg-shape.svg) no-repeat center 92px;
    background-size: 90%;
}


#content-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX( -50% );
    width: 80%;
    height: calc( 100% - 107px );   
    background: #FFFFFF;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 15px 0 rgba(221,220,234,0.7);
}