

<div id="create-team-container">

    <span id="create-team-exit-button" class="pointer"></span>

    <div class="create-team-inner-container">

        <div class="create-team-header clearfix">
            <h1 class="bold">Create a new team</h1>
            <button id="create-team-save-button" class="primary-button">Save</button>

        </div>


        <div class="create-team-body">

            <input id="input-create-team-name" class="bold" type="text" placeholder="New Team" spellcheck="false">

            <div class="create-team-member-list-header">

                <h2 class="bold">Members</h2>
                <p>Select members you want to add to you team.</p>

                <div id="create-team-save-member-button" class="pointer noselect">
                    <p class="accent bold">Add Member</p>
                </div>

            </div>

            <div class="create-team-member-list-body">

                <ul>

                    <li>Stephen Hodges
                        <span class="create-team-member-checkbox"></span>
                    </li>

                    <li class="active">Georgie Mendoza
                        <span class="create-team-member-checkbox"></span>
                    </li>

                    <li>Myrtle Boone
                        <span class="create-team-member-checkbox"></span>
                    </li>

                    <li class="active">Eugene Moran
                        <span class="create-team-member-checkbox"></span>
                    </li>

                    <li>Dorothy Joseph
                        <span class="create-team-member-checkbox"></span>
                    </li>

                    <li class="active">Luke Nguyen
                        <span class="create-team-member-checkbox"></span>
                    </li>

                    <li>Linnie Sullivan
                        <span class="create-team-member-checkbox"></span>
                    </li>

                    <li class="active">Sue Sanders
                        <span class="create-team-member-checkbox"></span>
                    </li>

                    <li>Georgie Hogan
                        <span class="create-team-member-checkbox"></span>
                    </li>

                    <li class="active">Tony Stark
                        <span class="create-team-member-checkbox"></span>
                    </li>

                    <li>Donnie Darko
                        <span class="create-team-member-checkbox"></span>
                    </li>

                    <li class="active">Hulk Hogan
                        <span class="create-team-member-checkbox"></span>
                    </li>

                    <li>Mr. T
                        <span class="create-team-member-checkbox"></span>
                    </li>

                </ul>

            </div>

        </div>

    </div>


</div>