
@import "../../mixins";
@import "../../color-variables";


#scrum-notes {

	height: 100%;
	position: relative;

	#scrum-notes-header {
		height: 80px;
		border-bottom: 1px solid $quinary-color;
		position: relative;
		z-index: 1;

		#scrum-notes-member-name {
			@include center( "vertical" );
			left: 20px;
			font-size: 1.43em;
		}

		#scrum-notes-member-options-button {
			@include center( "vertical" );
			right: 20px;
			width: 40px;
			height: 25px;
			border-radius: 3px;
			background: url( "../../../img/icons/icon-options.svg" ) no-repeat center center / 20px 4px;

			#scrum-notes-member-options-list {
				position: absolute;
				top: 30px;
				right: 0;
				border-radius: 3px;
				background-color: $tertiary-color;
				box-shadow: 0 5px 20px 0 $quinary-color;
				font-size: 1.15em;
				color: $text-secondary-color;
				white-space: nowrap;
				display: none;

				li {
					line-height: 45px;
					padding: 0 20px 0 50px;
					background: url( "../../../img/icons/icon-options.svg" ) no-repeat 20px center / 15px;

					&:hover { background-color: $nonary-color; }
				}

			}

			&.active {
				background-color: $denary-color;

				#scrum-notes-member-options-list { display: block; }
			}
		}
	}

	#scrum-notes-note-container {
		height: calc( 100% - 170px );
		padding: 0 20px;
		overflow: auto;
		// display: none;

		.scrum-note-date {
			margin: 15px 0;
			text-align: center;
			position: relative;

			&::before {
				content: "";
				position: relative;
				top: 12px;
				display: block;
				width: 100%;
				height: 1px;
				background-color: $denary-color;
			}
			

			span {
				display: inline-block;
				padding: 0 12px;
				line-height: 21px;
				font-size: 0.86em;
				color: $text-tertiary-color;
				background-color: $tertiary-color;
				border-radius: 20px;
				border: 1px solid $denary-color;
				position: relative;
			}
		}

		.scrum-note {
			margin: 5px 0;
			position: relative;
			
			.scrum-note-text {
				display: inline-block;
				font-size: 1.1em;
				line-height: 22px;
				padding: 20px 25px;
				background-color: $nonary-color;
				border-radius: 3px;
				position: relative;
			}

			.scrum-note-options {
				position: absolute;
				top: 15px;
				right: 25px;
				width: 30px;
				height: 30px;
				background: url( "../../../img/icons/icon-options.svg" ) no-repeat right center / 20px 4px;
				display: none;
			}

			.scrum-note-checkmark {
				position: absolute;
				top: 17px;
				right: 20px;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				box-shadow: inset 0 0 0 2px $quinary-color;
				display: none;
				
				&::after {
					content: "";
					display: none;
					width: 100%;
					height: 100%;
					background: url( "../../../img/icons/icon-checked.svg" ) no-repeat center / contain;
				}

			}

			&.impediment {

				.scrum-note-text {
					background-color: transparent;
					padding-left: 40px;
					padding-right: 60px;

					&::before {
						content: "";
						display: block;
						width: 21px;
						height: 10px;
						left: 9px;
						@include center( "vertical" );
						background: url( "../../../img/icons/icon-impediment.svg" ) no-repeat center / contain;
					}

				}

				.scrum-note-options { right: 60px; }

				.scrum-note-checkmark { display: block; }

				&:hover .scrum-note-text { padding-right: 100px; }

				&.solved {

					.scrum-note-text {
						color: $text-secondary-color;
						text-decoration: line-through;
					}

					.scrum-note-checkmark {
						display: block;

						&::after { display: block; }
					}

				}

			}
			
			&:hover {

				.scrum-note-text {
					width: 100%;
					padding-right: 70px;
					background-color: $denary-color;
				}

				.scrum-note-options { display: block; }

				&:not( .solved ) .scrum-note-checkmark { box-shadow: inset 0 0 0 2px darken( $quinary-color, 10% ); }

			}

		}

  	}

	#scrum-notes-footer {
		
		@include center( "horizontal" );
		bottom: 20px;
		width: calc( 100% - 40px );
		

		#scrum-note-input {
			display: block;
			width: 100%;
			padding: 0 150px 0 25px;
			line-height: 70px;
			font-size: 1.15em;
			border-radius: 3px;
			box-shadow: inset 0 0 0 2px $quinary-color;
			transition: box-shadow 0.2s linear;

			&:focus { box-shadow: inset 0 0 0 2px $accent-color; }

		}

		#scrum-notes-impediment-checkbox-container {
			@include center( "vertical" );
			right: 30px;

			label { padding-left: 24px; }

		}

	}


	#scrum-note-empty-state-container {

		width: 370px;
		margin: 55px auto 0;
		display: none;

		img {
			display: block;
			width: 226px;
			height: 226px;
			margin: 0 auto 30px;
		}

		h2, p { text-align: center; }

		h2 {
			margin-bottom: 20px;
			font-size: 1.43em;
		}

		p { line-height: 22px; }



	}

}