



<!-- TODO: Separate into 3 component files -->



<!-- Impediments Header -->
<div id="impediments-header-container">

    <h1 class="bold noselect">Impediments</h1>

    <div id="impediments-filter-container" class="impediments-filter-container">

        <button id="impediments-filter-button" class="noselect">All Impediments</button>

        <div id="impediments-filter-dropdown">

            <div class="impediments-filter-dropdown-header">

                <input id="impediments-filter-input" type="search" placeholder="Search" spellcheck="false">
            
            </div>

            <ul id="impediments-filter-dropdown-member-list">
                <li class="pointer noselect">Stephen Hodges</li>
                <li class="pointer noselect">Isabela Estrada</li>
                <li class="pointer noselect">Gordon Hunt</li>
                <li class="pointer noselect">Estelle Cruz</li>
                <li class="pointer noselect">Charles Hughes</li>
                <li class="pointer noselect">Steve Rogers</li>
            </ul>

        </div>

    </div>

    <div id="impediments-header-options-button" class="pointer"><!-- TODO Add dropdown with options--></div>

</div>



<!-- Impediments Unsolved -->
<ul id="impediments-unsolved-container">

    <li class="impediments-unsolved-member-container">

        <h3 class="impediments-unsolved-member-name bold">Isabel Estrada</h3>

        <ul class="impediments-unsolved-member-impediments">

            <li class="impediments-unsolved-member-impediment pointer">New login credentials provided are not valid
                <span class="impediments-unsolved-member-impediment-checkbox"></span>
            </li>

        </ul>

    </li>

    <li class="impediments-unsolved-member-container">

        <h3 class="impediments-unsolved-member-name bold">Ralph Andrews</h3>

        <ul class="impediments-unsolved-member-impediments">

            <li class="impediments-unsolved-member-impediment pointer">Waiting for documentation from management
                <span class="impediments-unsolved-member-impediment-checkbox"></span>
            </li>

        </ul>

    </li>

    <li class="impediments-unsolved-member-container">

        <h3 class="impediments-unsolved-member-name bold">Dustin Reyes</h3>

        <ul class="impediments-unsolved-member-impediments">

            <li class="impediments-unsolved-member-impediment pointer">Requested access to remove server 2 days ago, no reply yet from support
                <span class="impediments-unsolved-member-impediment-checkbox"></span>
            </li>

            <li class="impediments-unsolved-member-impediment pointer">Code structure needs heavy refactoring to integrate caching
                <span class="impediments-unsolved-member-impediment-checkbox"></span>
            </li>

            <li class="impediments-unsolved-member-impediment pointer">Waiting for Sketch file to implement new onbject feature
                <span class="impediments-unsolved-member-impediment-checkbox"></span>
            </li>

        </ul>

    </li>

</ul>





<!-- Impediments Solved -->
<div id="impediments-solved-container">

    <div id="impediments-solved-header" class="impediments-solved-header">
        <button id="impediments-solved-toggle-button">Hide Completed</button>
    </div>

    <ul id="impediments-solved-body">

            <li class="impediments-solved-member-container">

                <h3 class="impediments-solved-member-name bold">Stephen Hodges</h3>
        
                <ul class="impediments-solved-member-impediments">
        
                    <li class="impediments-solved-member-impediment pointer active">Png icons needs to be replaced on landing page
                        <span class="impediments-solved-member-impediment-checkbox"></span>
                    </li>

                    <li class="impediments-solved-member-impediment pointer active">Login credentials expired
                        <span class="impediments-solved-member-impediment-checkbox"></span>
                    </li>
        
                </ul>
        
            </li>

    </ul>

</div>
